.experiance {
    .title {
        @include header;
    }
    .experience-item {
        .role {
            @include sub-header;
        }
        .company {
            @include body-text;
            font-weight: bold;
            .time {
                float: right;
                color: var(--fg-color-title-sm);
                font-weight: 100;
            }
        }
        .details {
            @include body-text;
            ul {
                margin: 8px 0 8px 20px;
                padding: 0;
                li {
                    margin-bottom: 6px;
                    line-height: 1.5;
                }
            }
        }
        .technologies {
            @include body-text;
        }
    }
}