.projects {
    .title {
        @include header;
    }
    .project {
        margin-bottom: 20px;
        .project-link {
            @include body-text;
        }
        .details {
            @include body-text;
        }
        .contributions {
            @include body-text;
            margin-top: 4px;
            font-style: italic;
            color: var(--fg-color-title-sm);
        }
    }
}